
:root{
   --Orange-clr: #FD7014;
   --SemBlue-drk: #222831;
   --White-clr: #FFFFFF;

   --Spicy-Rice: "Spicy Rice", serif;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: var(--SemBlue-drk);
   font-family: "Poppins", sans-serif;
}
#navbar{
   width: 100%;
   padding: 10px 20px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   background-color: var(--White-clr);
   position: fixed;
   top: 0;
   transition: 400ms;
   z-index: 100;
}
a{
   text-decoration: none;
   cursor: pointer;
}
.nav-a{
   font-size: 13px;
   letter-spacing: .8px;
   font-weight: 500;
   margin-top: 10px;
   user-select: none;
}
.nav-a:hover{
   color: var(--Orange-clr);
}
.mv{
   margin-right: 3rem;
}
.active{
   color: var(--Orange-clr);
}
#logo-img{
   width: 4.5rem;
   margin: 0 3rem;
   cursor: pointer;
   user-select: none;
}
@media screen and (max-width: 540px) {
   .mv{
      margin-right: 2rem;
   }
}
/*/>  For Extra Mini Size 440px  </*/
@media screen and (max-width: 440px) {
   #navbar{
      width: 100%;
      padding: 10px 20px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
   }
   .nav-a{
      font-size: 13px;
      letter-spacing: .2px;
      text-align: center;
      line-height: 15px;
   }
   #logo-img{
      width: 4.6rem;
      margin: 0 1rem 0 0;
   }
}
.service_container{
   max-width: 1440px;
   margin: 0 auto;
}
.serv-holder{
   margin: 10rem 0;
   padding: 0 3rem;
}
.serv-img{
   width: 100%;
   height: 3rem;
   background-image: url(Pics/Background.jpg);
   background-position: center;
   background-size: cover;
}
.serv-title{
   font-size: 3rem;
   line-height: 40px;
   font-weight: bolder;
   margin-top: 1.7rem;
   margin-bottom: 2.1rem;
   transition: 300ms;
}
@media screen and (max-width: 800px) {
   .serv-title{
      font-size: 2.8rem;
   }
}
.serv-texts{
   font-size: 15px;
   line-height: 27px;
   margin-bottom: 2rem;
   text-align: justify;
}

.serv-card{
   max-width: 270px;
   border: 1px solid var(--SemBlue-drk);
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   cursor: pointer;
}
.serv_img-logo{
   width: 6rem;
   margin-top: .7rem;
   margin-bottom: 4rem;
}
.serv-title-logo{
   font-size: 1.8rem;
   font-family: var(--Spicy-Rice);
   line-height: 23px;
}
.serv-label{
   font-size: 15px;
   letter-spacing: .3px;
   margin-top: 5px;
   margin-bottom: 2rem;
}
footer{
   max-width: 1440px;
   margin: 0 auto;
   padding: 3rem 1rem 1rem 1rem;
   background-color: aliceblue;
}
.footer_divs{
   display: grid;
   grid-template-columns: 26rem 19rem 1fr;
}
.foo_logo_div{
   height: 15rem;
   padding-top: 1rem;
}
#foo_logo{
   width: 7.1rem;
   margin-left: 3rem;
   cursor: pointer;
}
.foo_info_div{
   height: 15rem;
   padding-top: 2rem;
}
.foo_contacts_div{
   display: flex;
   flex-direction: column;
   align-items: end;
   height: 15rem;
   padding-top: 2rem;
}
.foo_animetion_box{
   width: fit-content;
   height: 1.5rem;
   overflow: hidden;
   margin-bottom: 10px;
}
.anime_box{
   height: 3.2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: 300ms;
}
.foo_anime_text{
   letter-spacing: .6px;
   font-weight: 400;
}
.fat-red{
   color: #DE0000;
}
.foo_animetion_box:hover .anime_box{
   transform: translateY(-1.6rem);
}
.line{
   max-width: 100%;
   height: 1px;
   margin: 2rem auto 1rem auto;
   background-color: var(--SemBlue-drk);
   opacity: .2;
}
.foo_arr{
   font-size: 14px;
}
#s2024{
   color: var(--Orange-clr);
}
.foo_btn_style{
   padding: 4px 1.6rem;
   border: 1px solid var(--SemBlue-drk);
   border-radius: 20rem;
   margin-bottom: 13px;
   font-size: 13px;
   letter-spacing: .3px;
   cursor: pointer;
   background-color: transparent;
   transition: 100ms;
   transition-delay: 50ms;
}
.foo_btn_style:hover{
   rotate: -3deg;
   background-color: var(--SemBlue-drk);
   color: var(--White-clr);
}
@media screen and (max-width: 1000px){
   .footer_divs{
      display: grid;
      grid-template-columns: 16rem 16rem 1fr;
   }
}
@media screen and (max-width: 760px){
   .footer_divs{
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   .foo_contacts_div{
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 15rem;
   }
   .foo_arr{
      margin-left: 0rem;
      text-align: center;
   }
}
@media screen and (max-width: 500px){
   #foo_logo{
      margin-left: .5rem;
   }
   .footer_divs{
      display: grid;
      grid-template-columns: 1fr;
   }
}
